<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 상세보기 - GradeAdvisor</title>
    <!-- Bootstrap CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons CSS -->
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <!-- Your custom styles -->
    <!-- Bootstrap Bundle with Popper -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap Icons -->
    <link href="/css/mainForm/style.css" rel="stylesheet">
    <link href="/css/mainForm/boardInfo.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>

    <style>
        #user-info-container {
            display: flex;
            justify-content: space-between;
        }

        #user-info {
            margin-right: auto;
        }

        #post-date {
            margin-left: auto;
        }
        .like-container {
            text-align: center; /* 중앙 정렬 */
            margin-top: 20px; /* 상단 여백 */
        }

        .like-button {
            background-color: #007BFF; /* 파란색 배경 */
            color: #FFFFFF; /* 글자 색상 흰색 */
            border: none; /* 테두리 없음 */
            border-radius: 25px; /* 둥근 모서리 */
            padding: 10px 20px; /* 패딩 조정 */
            font-size: 18px; /* 글자 크기 */
            cursor: pointer; /* 커서 모양 변경 */
            transition: background-color 0.3s, transform 0.2s; /* 부드러운 전환 효과 */
        }

        .like-button:hover {
            background-color: #0056b3; /* 마우스 오버 시 색상 변경 (더 짙은 파란색) */
            transform: scale(1.05); /* 살짝 확대 효과 */
        }

        .like-count {
            margin-top: 10px; /* 위쪽 여백 */
            font-size: 18px; /* 글자 크기 */
            color: #130202; /* 글자 색상 흰색 */
        }

    </style>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const ssNickName = [[${session.SS_NICK_NAME}]];
        const ssUserId = [[${session.SS_USER_ID}]];
        const nickName = [[${rDTO.nickName}]];
        const nSeq = [[${rDTO.boardSeq}]];

        const urlParams = new URL(location.href).searchParams;


        console.log(nSeq)
        $(document).ready(function () {

            $("#logout").on("click", function () {
                logout();
            })

            $("#btnEdit").on("click", function () {
                doEdit();
            })
            $("#btnDelete").on("click", function () {
                doDelete();
            })
            $("#btnList").on("click", function () {
                location.href = "/board/mainBoard";
            })

            $("#toggle_heart").on("click", function () {
                toggleHeart();
            })


            getCommentList();

            $("div[id^='updateComment']").hide();
            $("div[id^='updateRecomment']").hide();
            $("div[id^='recommentArea']").hide();


        });


        function toggleHeart() {
            $.ajax({
                url: "/heart/toggle",
                type: "POST",
                dataType: "JSON",
                data: {
                    nSeq: nSeq
                },
                success: function (response) {
                    console.log("AJAX Success:", response);
                    alert(response.msg);
                },
                error: function(xhr, status, error) {
                    console.log("AJAX Error:", error);
                }
            });
        }
        function insertComment(dept) {

            if (ssNickName == "") {
                alert("로그인 후 이용 가능합니다.");
                return;
            }

            console.log(document.getElementById("nSeq").value)

            $.ajax({
                url: "/comment/insertComment",
                type: "POST",
                dataType: "JSON",
                data: {
                    'boardSeq': document.getElementById("nSeq").value,
                    'contents': document.getElementById("commentContents").value,
                    'dept': dept
                },
                success: function (json) {
                    alert(json.msg)
                    if (json.result === 1) {
                        getCommentList()

                        document.getElementById("commentContents").value = ""
                    }
                }
            })

        }


        function getCommentList() {
            console.log(document.getElementById("nSeq").value)
            $.ajax({

                url: "/comment/getCommentList",
                type: "post",
                dataType: "JSON",
                data: {
                    "boardSeq": document.getElementById("nSeq").value

                },
                success: function (json) {
                    console.log(json);
                    insertCommentList(json)
                }
            });
        }

        function insertCommentList(json) {
            let commentList = $("#commentList");
            commentList.empty();

            json.forEach(function (data) {
                let row = $("<div>")
                    .addClass("comment-row")
                    .css({
                        "border": "1px solid #ddd",
                        "padding": "10px",
                        "margin-bottom": "10px",
                        "border-radius": "5px"
                    });

                let td = $("<div>")
                    .addClass("comment-col")
                    .css({
                        width: '100%'
                    });

                // 작성자와 작성일 표시
                let strong = $("<strong>").text("작성자 : " + data.nickname);
                let span = $("<span>")
                    .css({
                        "float": "right",
                        "font-size": "smaller",
                        "color": "#888"
                    })
                    .text("작성일 : " + data.regDt);
                td.append($("<div>").append(strong, span));

                // 댓글 내용 표시
                let baseComment = $("<div>")
                    .attr("id", "baseComment_" + data.commentSeq)
                    .css({
                        "margin-top": "10px",
                        "margin-bottom": "10px"
                    });
                let readComment = $("<div>")
                    .css({
                        "white-space": "pre-wrap",
                        "background-color": "#f9f9f9",
                        "padding": "10px",
                        "border-radius": "5px",
                        "border": "1px solid #ddd"
                    })
                    .text(data.contents);
                baseComment.append(readComment);

                if (ssNickName === data.nickname) {


                    // 수정/삭제 버튼
                    let btnShowEditArea = $("<button>")
                        .addClass("btn btn-outline-secondary btn-sm")
                        .css("margin-right", "5px")
                        .text("수정")
                        .click(function () {
                            showEditArea(data.commentSeq);
                        });

                    let btnDoCoDelete = $("<button>")
                        .addClass("btn btn-outline-danger btn-sm")
                        .text("삭제")
                        .click(function () {
                            doDeleteComment(data.commentSeq);
                        });


                    baseComment.append($("<div>").css("text-align", "right").append(btnShowEditArea, btnDoCoDelete));

                }
                td.append(baseComment);

                // 업데이트 상태
                let updateComment = $("<div>")
                    .attr("id", "updateComment_" + data.commentSeq)
                    .css("display", "none");
                // 수정 가능한 댓글
                let updateTextarea = $("<textarea>")
                    .attr({
                        "name": "upComment",
                        "id": "upComment_" + data.commentSeq,
                        "rows": "3"
                    })
                    .css({
                        "width": "100%",
                        "margin-bottom": "10px"
                    })
                    .text(data.contents);

                updateComment.append(updateTextarea, $("<br>"))

                // 수정/취소 버튼
                let btnDoCoEdit = $("<button>")
                    .addClass("btn btn-outline-primary btn-sm")
                    .attr("type", "button")
                    .css("margin-right", "5px")
                    .text("수정")
                    .click(function () {
                        doCommentEdit(data.commentSeq);
                    });

                // 취소
                let btnShowHideArea = $("<button>")
                    .addClass("btn btn-outline-secondary btn-sm")
                    .text("취소")
                    .click(function () {
                        showHideArea(data.commentSeq);
                    });

                updateComment.append($("<div>")
                    .css("text-align", "right")
                    .append(btnDoCoEdit, btnShowHideArea)
                )

                td.append(updateComment);

                row.append(td);
                commentList.append(row);

            });
            $("div[id^='updateComment']").hide();
            $("div[id^='updateRecomment']").hide();
            $("div[id^='reCommentArea']").hide();
            $(".readTextarea").each(function () {
                this.style.height = 'auto';
                this.style.height = (this.scrollHeight) + 'px';
            });
        }

        // 댓글 수정
        function doCommentEdit(commentSeq) {

            console.log("commentSeq: " + commentSeq); // commentSeq 값을 로그로 확인

            const upComment = document.getElementById("upComment_" + commentSeq).value;
            const boardSeq = document.getElementById("nSeq").value;

            console.log("upComment : " + upComment)


            if (!upComment) {
                console.error("Cannot find element with id: upComment_" + commentSeq);
                return;
            }
            if (!boardSeq) {
                console.error("Cannot find element with id: boardSeq");
                return;
            }

            if (upComment === "") {
                alert("내용을 작성하세요.");
                document.getElementById("upComment_" + commentSeq).focus();
                return;

            }

            const requestData = {
                upComment: upComment,
                boardSeq: boardSeq,
                commentSeq: commentSeq,
            };

            $.ajax({
                url: "/comment/updateComment",
                type: "post",
                dataType: "JSON",
                data: requestData,
                success: function (json) {

                    alert(json.msg);

                    if (json.result === 1) {
                        getCommentList()
                    }
                }
            })


        }

        // 댓글 삭제
        function doDeleteComment(commentSeq) {

            const upComment = document.getElementById("upComment_" + commentSeq).value;
            const boardSeq = document.getElementById("nSeq").value;

            console.log("commentSeq : " + commentSeq);
            console.log("upComment : " + upComment);
            console.log("boardSeq : " + boardSeq);


            if (!confirm("삭제하시겠습니까?")) {
                return;
            }

            const requestData = {
                upComment: upComment,
                boardSeq: boardSeq,
                commentSeq: commentSeq,
            };
            $.ajax({
                url: "/comment/deleteComment",
                type: "post",
                dataType: "JSON",
                data: requestData,
                success: function (json) {
                    alert(json.msg);

                    if (json.result === 1) {
                        getCommentList()
                    }
                }
            })


        }

        // 댓글 수정 버튼 클릭 시 수정 폼 보여주기.

        function showEditArea(commentSeq) {
            event.preventDefault(); // 기본 동작 방지
            $("#baseComment_" + commentSeq).hide();
            $("#updateComment_" + commentSeq).show();
            console.log("commentSeq : " + commentSeq);

        }

        function showHideArea(commentSeq) {
            event.preventDefault();  // 기본 동작 방지
            $("#baseComment_" + commentSeq).show();
            $("#updateComment_" + commentSeq).hide();
            console.log("commentSeq : " + commentSeq);
        }


        function logout() {
            $.ajax({
                type: "post",
                url: "/user/logout",
                success: function (json) {
                    if (json.result = 1) {
                        alert(json.msg);
                        window.location.reload();
                    }
                },
                error: function (error) {
                    console.log(error);
                    alert("로그아웃 실패");
                }
            })
        }


        function doEdit() {
            if (ssNickName === nickName) {
                location.href = "/board/boardEditInfo?nSeq=" + document.getElementById("nSeq").value;

            } else if (session_user_id === "") {
                alert("로그인 하시길 바랍니다.");

            } else {
                alert("본인이 작성한 글만 수정 가능합니다.");

            }
        }


        /**
         * 게시글 삭제
         */
        function doDelete() {

            if (confirm("작성한 글을 삭제하시곘습니까?")) {

                $.ajax({
                    url: "/board/boardDelete",
                    type: "post",
                    dataType: "JSON",
                    data: {"nSeq": nSeq},
                    success:
                        function (json) {
                            alert(json.msg);
                            location.href = "/board/mainBoard?page=1";
                        }
                })
            }

        }


        /*]]>*/
    </script>
    <style>
        .view-content {
            white-space: pre-line; /* 개행 유지 */
            font-size: 14px; /* 원하는 폰트 크기 설정 */
        }
    </style>
</head>
<body>

<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/main" class="logo d-flex align-items-center">
            <img src="/images/img/logo.png" alt="">
            <span>GradeAdvisor</span>
        </a>
        <input type="hidden" id="regId">


        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/main">홈</a></li>
                <li><a class="nav-link scrollto" href="/user/myPage">마이 페이지</a></li>
                <li><a class="active" href="/board/mainBoard">게시판</a></li>
                <li><a class="nav-link scrollto" href="/depart/getDepart">학과 정보</a></li>
                <li><a class="nav-link scrollto" href="/grade/gradeRes">합격률 예측</a></li>


                <li th:unless="${globalSession}">
                    <a class="getstarted scrollto" href="/user/login">로그인</a>
                </li>
                <li th:if="${globalSession}">
                    <a class="getstarted scrollto" id="logout"> 로그아웃</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->


    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="index.html">메인</a></li>
                <li><a href="/board/mainBoard?page=1">게시판</a></li>
                <li>게시판 상세보기</li>
            </ol>
            <h2>게시판 상세보기</h2>

        </div>
    </section>
</main>
<form id="f" name="f">
    <section itemscope itemtype="http://schema.org/Article">
        <h1 itemprop="headline" th:text="${rDTO.title()}"></h1>
        <div class="panel panel-default view-head">
            <div class="panel-heading">
                <div class="ellipsis text-muted font-12">
                    <span itemprop="pulishel" th:text="${rDTO.nickName()}"></span>
                    <span class="sp"></span>
                    <i class="fa fa-comment">
                    </i>
                    <b class="red">
                        <img src="/images/eye_icon.png" th:text="${rDTO.readCnt()}">
                    </b>
                    <span class="sp"></span>
                    <!--                <i class="fa fa-eye" th:text="${rDTO.readCnt()}"></i>-->
                    <span class="pull-right">
                    <span itemprop="datePublished" th:text="${rDTO.regDt()}"></span>

                </span>

                </div>
            </div>
            <div class="view-padding">
                <div itemprop="description" class="view-content">
                    <div style="width: 90%; height: 50%; padding-bottom: 10px" id="img" th:each="dto : ${rList}">
                        <img th:src="${dto.saveFileUrl()}" width="50%"><br><br>
                    </div>
                    <div th:text="${rDTO.contents()}"></div>

                    <div class="like-container">
                        <button id="toggle_heart" class="like-button">좋아요</button>
                        <div id="like_count" class="like-count">
                            좋아요 수 : <span th:text="${rDTO.likeCount()}"></span>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <div th:if="${nk}">
            <button id="btnEdit" type="button" class="btn btn-info">수정</button>
            <button id="btnDelete" type="button" class="btn btn-danger">삭제</button>
        </div>

    </section>


    <ul class="list-group-flush">
        <div id="commentList" class="comment-list"></div>
    </ul>

    <div class="card">
        <div class="card-header bi bi-chat-right-dots">댓글 작성</div>
        <input type="hidden" id="nSeq" name="nSeq" th:value="${rDTO.boardSeq()}"/>
        <div th:if="${globalSession}">
            <div class="card-body">
                <textarea id="commentContents" name="commentContents" class="form-control" rows="4"
                          placeholder="댓글을 입력하세요"></textarea>
            </div>
            <div class="card-footer">
                <button type="button" id="btnComment" class="btn btn-outline-primary bi bi-pencil-square"
                        onclick="insertComment(0)">등록
                </button>
            </div>
        </div>
        <div th:unless="${globalSession}">
            <div class="card-body" style="font-size: small">
                <a href="/user/login">로그인</a>을 하시면 댓글을 등록할 수 있습니다.
            </div>
        </div>
    </div>

</form>
</body>


<script src="/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>
<script src="/js/mainForm/main.js"></script>

</body>
</html>