<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>GradeAdvisor - 메인 게시판</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/images/img/favicon.png" rel="icon">
    <link href="/images/img/apple-touch-icon.png" rel="apple-touch-icon">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/table.css"/>
    <link href="/css/mainForm/board.css" rel="stylesheet">
    <link href="/css/mainForm/style.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        function doDetail(seq) {
            location.href = "/board/boardInfo?nSeq=" + seq;
        }

        $(document).ready(function () {

            $("#btnSearch").on("click", function () {
                let f = document.getElementById("f");

                if (f.keyword.value === "") {
                    alert("검색어를 입력해주세요.");
                    f.keyword.focus();
                    return;
                }

                /*   $.ajax({
                       url: "/board/boardDelete",
                       type: "post",
                       dataType: "JSON",
                       data: {"nSeq": nSeq},
                       success:
                           function (json) {
                               alert(json.msg);
                               location.href = "/board/mainBoard?page=1";
                           }
                   })*/

            })
            $("#logout").on("click", function () {
                logout();
            })

        })

        function logout() {
            $.ajax({
                type: "post",
                url: "/user/logout",
                success: function (json) {
                    if (json.result = 1) {
                        alert(json.msg);
                        window.location.reload();
                    }
                },
                error: function (error) {
                    console.log(error);
                    alert("로그아웃 실패");
                }
            })
        }

        function navigate(page) {
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set('page', page);
            window.location.search = urlParams.toString();
        }

    </script>

    <style>
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .pagination-list {
            list-style-type: none;
            padding: 0;
            display: flex;
            gap: 5px;
        }

        .pagination-list a {
            padding: 10px 15px;
            border: 1px solid #ddd;
            color: #007bff;
            text-decoration: none;
        }

        .pagination-list a.active {
            background-color: #007bff;
            color: white;
            border-color: #007bff;
        }

        .pagination-list a:hover {
            background-color: #ddd;
        }
    </style>

</head>

<body>


<!-- ======= Header ======= -->

<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/main" class="logo d-flex align-items-center">
            <img src="/images/img/logo.png" alt="">
            <span>GradeAdvisor</span>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/main">홈</a></li>
                <li><a class="nav-link" href="../user/myPage">마이 페이지</a></li>
                <li><a class="active" href="/board/mainBoard">게시판</a></li>
                <li><a class="nav-link scrollto" href="/depart/getDepart">학과 정보</a></li>
                <li><a class="nav-link scrollto" href="/grade/gradeInput">성적 입력</a></li>
                <li><a class="nav-link scrollto" href="/grade/gradeRes">합격률 예측</a></li>
                <li th:unless="${nickNameCheck}">
                    <a class="getstarted scrollto" href="/user/login">로그인</a>
                </li>
                <li th:if="${nickNameCheck}">
                    <a class="getstarted scrollto" id="logout"> 로그아웃</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="/main">홈</a></li>
                <li><a>게시판</a></li>
            </ol>
            <h2>게시판</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="footer-newsletter">
        <div class="container">

            <!--  <div class="footer-newsletter">
                  <form action="/board/searchBoard" method="get">
                      <input type="text" name="keyword" th:value="${keyword}" placeholder="Search..."/>
                      <button type="submit">Search</button>
                  </form>-->

            <div id="board-search">
                <div class="search-window">
                    <form action="/board/searchBoard" method="get">
                        <div class="search-wrap">
                            <input type="text" name="keyword" th:value="${keyword}"  placeholder="제목 입력"/>
                            <button class="btn btn-dark">검색</button>
                        </div>
                    </form>
                </div>
            </div>

            <div th:if="${nickNameCheck}">
                <button onclick="location.href='/board/boardReg'" class="btn btn-secondary">글쓰기</button>
                <button onclick="location.href='/user/myPage'" class="btn btn-secondary">마이페이지</button>
            </div>


            <div id="board-list">
                <div class="container">
                    <div class="board-div">
                        <div class="board-row board-header">
                            <div class="board-cell th-title">제목</div>
                            <div class="board-cell th-nickName">닉네임</div>
                            <div class="board-cell th-date">등록일</div>
                            <div class="board-cell th-cnt">조회수</div>
                        </div>
                        <div class="board-row" th:each="dto : ${rList}">
                            <div class="board-cell title" th:text="${dto.title()}"
                                 th:onclick="doDetail([[${dto.boardSeq}]])"></div>
                            <div class="board-cell nickName" th:text="${dto.nickName()}"></div>
                            <div class="board-cell date" th:text="${dto.regDt()}"></div>
                            <div class="board-cell cnt" th:text="${dto.readCnt()}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 페이지 번호를 표시하는 부분 -->
            <div style="display: flex; display: block;">
                <div class="pagination">
                    <ul class="pagination pagination-primary" id="pagination">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/board/mainBoard?page=1}">&laquo;</a>
                        </li>
                        <!-- 이전 페이지로 이동하는 링크 -->
                        <li class="page-item" th:if="${currentPage > 1}">
                            <a class="page-link"
                               th:href="@{/board/mainBoard(page=${currentPage - 1})}">&lt;</a>
                        </li>
                        <!-- 현재 페이지 주변에 페이지 번호 링크 표시 -->
                        <th:block
                                th:each="pageNumber : ${#numbers.sequence(T(java.lang.Math).max(1, currentPage - 5), T(java.lang.Math).min(totalPages, currentPage + 5))}">
                            <li class="page-item"
                                th:class="${pageNumber == currentPage ? 'active' : ''}">
                                <a class="page-link" th:href="@{/board/mainBoard(page=${pageNumber})}"
                                   th:text="${pageNumber}"></a>
                            </li>
                        </th:block>
                        <!-- 다음 페이지로 이동하는 링크 -->
                        <li class="page-item" th:if="${currentPage < totalPages}">
                            <a class="page-link"
                               th:href="@{/board/mainBoard(page=${currentPage + 1})}">&gt;</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:href="@{/board/mainBoard(page=${totalPages})}">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>


    </div>


    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>

<!--  &lt;!&ndash; Template Main JS File &ndash;&gt;-->
<script src="/js/mainForm/main.js"></script>

</body>

</html>