<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>성적 입력</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/table.css"/>
    <link href="/css/mainForm/board.css" rel="stylesheet">
    <link href="/css/mainForm/style.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        const ssUserId = [[${session.SS_USER_ID}]];

        console.log(ssUserId);
        if (!ssUserId) {
            console.log("일로 들어옴. ")
            alert("로그인 후 이용 가능합니다.");
            window.location.href = "/main";
        }


    </script>
    <script>

        $(document).ready(function () {

            $("#logout").on("click", function () {
                logout();
            })

            $("#btnSubmit").on("click", function () {
                let f = document.getElementById("scoreForm");

                if(f.kor.value === "") {
                    alert("모든 표준점수 및 등급을 입력하시기 바랍니다.");
                    f.kor.focus();
                    return;
                }
                if(f.kor_grade.value === "") {
                    alert("모든 표준점수 및 등급을 입력하시기 바랍니다.");
                    f.kor.focus();
                    return;
                }
                if(f.mat.value === "") {
                    alert("모든 표준점수 및 등급을 입력하시기 바랍니다.");
                    f.kor.focus();
                    return;
                }
                if(f.mat_grade.value === "") {
                    alert("모든 표준점수 및 등급을 입력하시기 바랍니다.");
                    f.kor.focus();
                    return;
                }
                if(f.eng_grade.value === "") {
                    alert("모든 표준점수 및 등급을 입력하시기 바랍니다.");
                    f.kor.focus();
                    return;
                }
                if(f.history_grade.value === "") {
                    alert("모든 표준점수 및 등급을 입력하시기 바랍니다.");
                    f.kor.focus();
                    return;
                }


                var research = $('input[name="research"]:checked').val();   // 과학 / 사회 / 혼합 타입 선택
                var kor_sel = $('input[name="kor_sel"]:checked').val();
                var mat_sel = $('input[name="mat_sel"]:checked').val();
                var language_2Name = $('#language_2 option:selected').text();  // 제2 외국어 과목명 선택된 텍스트 값

                console.log("language_2Name : " + language_2Name);

                var data = {
                    research: research,     // 탐구
                    kor_sel: kor_sel,       // 국어 과목명
                    kor: $('#kor').val(),   // 국어 표준점수
                    kor_grade: $('#kor_grade').val(),   // 국어 등급
                    mat_sel: mat_sel,  // 수학 과목명
                    mat: $('#mat').val(),   // 수학 표준점수
                    mat_grade: $('#mat_grade').val(),   // 수학 등급
                    eng: 'english',                     // 영어 과목명
                    eng_grade: $('#eng_grade').val(),   // 영어 등급
                    history: 'history',                 // 한국사 과목명
                    history_grade: $('#history_grade').val(),  // 한국사 등급
                    language_2Name: language_2Name,     // 제2 외국어 과목명
                    language_2: $('#language_22').val() // 제2 외국어 등급.

                };

                if (research === 'sci') {

                    if(f.sci_score_1.value === "") {
                        alert("모든 표준점수 및 등급을 입력하시기 바랍니다.");
                        f.sci_score_1.focus();
                        return;
                    }
                    if(f.sci_grade_1.value === "") {
                        alert("모든 표준점수 및 등급을 입력하시기 바랍니다.");
                        f.sci_grade_1.focus();
                        return;
                    }

                    data.science1 = $('#sci_1').val();
                    data.science1_score = $('#sci_score_1').val();
                    data.science1_grade = $('#sci_grade_1').val();
                    data.science2 = $('#sci_2').val();
                    data.science2_score = $('#sci_score_2').val();
                    data.science2_grade = $('#sci_grade_2').val();


                } else if (research === 'soc') {

                    if(f.soc_grade_1.value === "") {
                        alert("모든 표준점수 및 등급을 입력하시기 바랍니다.");
                        f.soc_grade_1.focus();
                        return;
                    }
                    if(f.soc_score_1.value === "") {
                        alert("모든 표준점수 및 등급을 입력하시기 바랍니다.");
                        f.soc_score_1.focus();
                        return;
                    }
                    if(f.soc_grade_2.value === "") {
                        alert("모든 표준점수 및 등급을 입력하시기 바랍니다.");
                        f.soc_grade_2.focus();
                        return;
                    }
                    if(f.soc_score_2.value === "") {
                        alert("모든 표준점수 및 등급을 입력하시기 바랍니다.");
                        f.soc_score_1.focus();
                        return;
                    }

                    data.social1 = $('#soc_1').val();
                    data.social1_score = $('#soc_score_1').val();
                    data.social1_grade = $('#soc_grade_1').val();
                    data.social2 = $('#soc_2').val();
                    data.social2_score = $('#soc_score_2').val();
                    data.social1_grade = $('#soc_grade_2').val();

                } else if (research === 'combi') {

                    if (f.combi_sci_score.value === "") {
                        alert("모든 표준점수 및 등급을 입력하시기 바랍니다.");
                        f.kor.focus();
                        return;
                    }
                    if (f.combi_grade_1.value === "") {
                        alert("모든 표준점수 및 등급을 입력하시기 바랍니다.");
                        f.kor.focus();
                        return;
                    }

                    if (f.combi_soc_score.value === "") {
                        alert("모든 표준점수 및 등급을 입력하시기 바랍니다.");
                        f.kor.focus();
                        return;
                    }
                    if (f.combi_grade_2.value === "") {
                        alert("모든 표준점수 및 등급을 입력하시기 바랍니다.");
                        f.kor.focus();
                        return;
                    }
                    data.combi_sci = $('#combi_sci').val();
                    data.combi_sci_score = $('#combi_sci_score').val();
                    data.combi_sci_grade = $('#combi_grade_1').val();
                    console.log("combi_sci_grade")
                    data.combi_soc = $('#combi_soc').val();
                    data.combi_soc_score = $('#combi_soc_score').val();
                    data.combi_soc_grade = $('#combi_grade_2').val();

                }
                $.ajax({
                    type: "POST",
                    url: "/score/saveScore",
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function (response) {
                        alert("성적 입력이 완료되었습니다.");
                        window.location.href = '/grade/gradeRes';
                    },
                    error: function (error) {
                        console.log("Error :", error);
                    }

                });

            });

        })

        function logout() {
            $.ajax({
                type: "post",
                url: "/user/logout",
                success: function (json) {
                    if (json.result = 1) {
                        alert(json.msg);
                        window.location.reload();
                    }
                },
                error: function (error) {
                    console.log(error);
                    alert("로그아웃 실패");
                }
            })
        }

        function showFields(value) {
            document.getElementById('science-fields').style.display = 'none';
            document.getElementById('social-fields').style.display = 'none';
            document.getElementById('combi-fields').style.display = 'none';

            if (value === 'sci') {
                document.getElementById('science-fields').style.display = 'block';
            } else if (value === 'soc') {
                document.getElementById('social-fields').style.display = 'block';
            } else if (value === 'combi') {
                document.getElementById('combi-fields').style.display = 'block';
            }
        }

    </script>

    <style>
        .col-md-5 {
            float: none;
            margin: 0 auto 1.5em;
        }



        button#btnSubmit {
            width: 100%;
            padding: 15px;
            margin-top: 30px; /* 버튼을 아래로 내림 */
            background-color: #0a35c4;
            color: white;
            border: none;
            border-radius: 8px;
            font-size: 1.2em;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

        button#btnSubmit:hover {
            background-color: #030856;
            transform: translateY(-2px);
        }
    </style>
</head>
<body>

<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/main" class="logo d-flex align-items-center">
            <img src="/images/img/logo.png" alt="">
            <span>GradeAdvisor</span>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/main">홈</a></li>
                <li><a class="nav-link scrollto" href="/user/myPage">마이 페이지</a></li>
                <li><a class="nav-link scrollto" href="/board/mainBoard">게시판</a></li>
                <li><a class="nav-link scrollto" href="/depart/getDepart">학과 정보</a></li>
                <li><a class="active" href="/grade/gradeInput">성적 입력</a></li>
                <li><a class="nav-link scrollto" href="/grade/gradeRes">합격률 예측</a></li>


                <li th:unless="${globalSession}">
                    <a class="getstarted scrollto" href="/user/login">로그인</a>
                </li>
                <li th:if="${globalSession}">
                    <a class="getstarted scrollto" id="logout"> 로그아웃</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="/main">홈</a></li>
                <li>성적 입력</li>
            </ol>
            <h2>성적 입력</h2>

        </div>
    </section>
</main>
<footer id="footer" class="footer">

    <form id="scoreForm" onsubmit="false;">
        <div class="row mb-5">


            <!--    국 수 영 한-->
            <div class="col-md-5" style="float:none; margin:0 auto;">
                <div class="form-group mb-3">
                    <!--kor_score input-->
                    <p id="kor_sel"><label for="kor">국어</label>
                        <label><input class="form-control-radio" type="radio" name="kor_sel" value="kor_1" checked="">화작</label>
                        <label><input class="form-control-radio" type="radio" name="kor_sel" value="kor_2">언매</label>
                    </p>
                    <input class="form-control mb-3 valid-score" id="kor" type="number" min="0" max="147" placeholder="표준점수"
                           required="">
                    <input class="form-control mb-3 valid-score" id="kor_grade" type="number" name="kor_grade" max="9"
                           min="1" placeholder="등급" required="">

                    <!--                    <label><input class="form-control-radio" type="radio" name="research" value="sci" onclick="showFields(this.value)">과학</label>-->

                    <p id="kor_output"></p>
                    <div class="invalid-feedback" data-sb-feedback="number:required">필수 입력</div>
                    <!--mat_score input-->
                    <p id="mat_sel"><label for="mat">수학</label>
                        <label><input class="form-control-radio" type="radio" name="mat_sel" value="mat_1" checked="">확통</label>
                        <label><input class="form-control-radio" type="radio" name="mat_sel" value="mat_2">미적</label>
                        <label><input class="form-control-radio" type="radio" name="mat_sel" value="mat_3">기하</label>
                    </p>
                    <input class="form-control mb-3 valid-score" id="mat" type="number" min="1" max="149" placeholder="표준점수"
                           data-sb-validations="required">
                    <input class="form-control mb-3 valid-score" id="mat_grade" type="number" name="mat_grade" min="1"
                           max="9" placeholder="등급" required>
                    <p id="mat_output"></p>
                    <div class="invalid-feedback" data-sb-feedback="number:required">필수 입력</div>



                    <!--eng_grade input-->
                    <p><label for="eng_grade">영어</label></p>
                    <input class="form-control mb-3 valid-score" id="eng_grade" type="number" min="1" max="9"
                           placeholder="등급" data-sb-validations="required">
                    <p id="eng_output"></p>
                    <div class="invalid-feedback" data-sb-feedback="number:required">필수 입력</div>
                    <!--history_grade input-->
                    <p><label for="history_grade">한국사</label></p>
                    <input class="form-control mb-3 valid-score" id="history_grade" type="number" min="1" max="9"
                           placeholder="등급" data-sb-validations="required">
                    <p id="history_output"></p>
                    <div class="invalid-feedback" data-sb-feedback="number:required">필수 입력</div>
                </div>
            </div>

            <!--       탐구   -->
            <div class="col-md-5" style="float:none; margin:0 auto;">
                <div class="form-group">
                    <!--research select-->
                    <p style="color:blue">탐구영역 선택</p>
                    <p class="mb-4">
                        <label><input class="form-control-radio" type="radio" name="research" value="sci"
                                      onclick="showFields(this.value)">과학</label>
                        <label><input class="form-control-radio" type="radio" name="research" value="soc"
                                      onclick="showFields(this.value)">사회</label>
                        <label><input class="form-control-radio" type="radio" name="research" value="combi"
                                      onclick="showFields(this.value)">과학/사회 조합</label>
                    </p>
                </div>

                <!--                과학만-->
                <div id="science-fields" class="form-group" style="display:none;">
                    <select class="mb-1 select-valid-score-init" id="sci_1" name="sci1">
                        <option value="sci_0">물리-I</option>
                        <option value="sci_1">생명과학-I</option>
                        <option value="sci_2">지구과학-I</option>
                        <option value="sci_3">화학-I</option>
                        <option value="sci_4">물리-II</option>
                        <option value="sci_5">생명과학-II</option>
                        <option value="sci_6">지구과학-II</option>
                        <option value="sci_7">화학-II</option>
                    </select>
                    <label for="sci_score_1"></label>
                    <input class="form-control mb-3 select-valid-score" id="sci_score_1" type="number" min="0"
                           name="science1_score" data-sb-validations="required" placeholder="표준점수">
                    <input class="form-control mb-3 select-valid-score" id="sci_grade_1" type="number" min="1"
                           name="science1_grade" max="9" placeholder="등급">
                    <p id="sci_output_1"></p>
                    <div class="invalid-feedback" data-sb-feedback="number">필수 입력</div>

                    <select class="mb-1 select-valid-score-init" id="sci_2" name="sci2">
                        <option value="sci_0">물리-I</option>
                        <option value="sci_1">생명과학-I</option>
                        <option value="sci_2">지구과학-I</option>
                        <option value="sci_3">화학-I</option>
                        <option value="sci_4">물리-II</option>
                        <option value="sci_5">생명과학-II</option>
                        <option value="sci_6">지구과학-II</option>
                        <option value="sci_7">화학-II</option>
                    </select>
                    <label for="sci_score_2"></label>
                    <input class="form-control mb-3 select-valid-score" id="sci_score_2" type="number" min="0"
                           name="science2_score" data-sb-validations="required" placeholder="표준점수">
                    <input class="form-control mb-3 select-valid-score" id="sci_grade_2" type="number" min="1"
                           name="science2_grade" max="9" placeholder="등급">
                    <p id="sci_output_2"></p>
                    <div class="invalid-feedback" data-sb-feedback="number">필수 입력</div>
                </div>

                <!--                사회만-->

                <div id="social-fields" class="form-group" style="display:none;">
                    <select class="mb-1 select-valid-score-init" id="soc_1" name="soc1">
                        <option value="soc_0">경제</option>
                        <option value="soc_1">동아시아사</option>
                        <option value="soc_2">정치와법</option>
                        <option value="soc_3">사회문화</option>
                        <option value="soc_4">생활과윤리</option>
                        <option value="soc_5">세계사</option>
                        <option value="soc_6">세계지리</option>
                        <option value="soc_7">윤리와사상</option>
                        <option value="soc_8">한국지리</option>
                    </select>
                    <label for="soc_score_1"></label>
                    <input class="form-control mb-3 select-valid-score" id="soc_score_1" type="number" min="0"
                           name="social1_score" data-sb-validations="required" placeholder="표준점수">
                    <input class="form-control mb-3 select-valid-score" id="soc_grade_1" type="number" min="1"
                           name="social1_grade" max="9" placeholder="등급">

                    <p id="soc_output_1"></p>
                    <div class="invalid-feedback" data-sb-feedback="number">필수 입력</div>

                    <select class="mb-1 select-valid-score-init" id="soc_2" name="soc2">
                        <option value="soc_0">경제</option>
                        <option value="soc_1">동아시아사</option>
                        <option value="soc_2">정치와법</option>
                        <option value="soc_3">사회문화</option>
                        <option value="soc_4">생활과윤리</option>
                        <option value="soc_5">세계사</option>
                        <option value="soc_6">세계지리</option>
                        <option value="soc_7">윤리와사상</option>
                        <option value="soc_8">한국지리</option>
                    </select>
                    <label for="soc_score_2"></label>
                    <input class="form-control mb-3 select-valid-score" id="soc_score_2" type="number" min="0"
                           name="social2_score" data-sb-validations="required" placeholder="표준점수">
                    <input class="form-control mb-3 select-valid-score" id="soc_grade_2" type="number" min="1"
                           name="social2_grade" max="9" placeholder="등급">

                    <p id="soc_output_2"></p>
                    <div class="invalid-feedback" data-sb-feedback="number">필수 입력</div>
                </div>

                <!--                과학, 사회 -->
                <div id="combi-fields" class="form-group" style="display:none;">
                    <!-- 과학 1가지 선택 -->
                    <select class="mb-1 select-valid-score-init" id="combi_sci" name="com1">
                        <option value="sci_0">물리-I</option>
                        <option value="sci_1">생명과학-I</option>
                        <option value="sci_2">지구과학-I</option>
                        <option value="sci_3">화학-I</option>
                        <option value="sci_4">물리-II</option>
                        <option value="sci_5">생명과학-II</option>
                        <option value="sci_6">지구과학-II</option>
                        <option value="sci_7">화학-II</option>
                    </select>
                    <label for="combi_sci_score"></label>
                    <input class="form-control mb-3 select-valid-score" id="combi_sci_score" type="number" min="0"
                           name="combi1_score" data-sb-validations="required" placeholder="표준점수">
                    <input class="form-control mb-3 select-valid-score" id="combi_grade_1" type="number" min="1"
                           name="combi1_grade" max="9" placeholder="등급">

                    <p id="combi_sci_output"></p>
                    <div class="invalid-feedback" data-sb-feedback="number">필수 입력</div>

                    <!-- 사회 1가지 선택 -->
                    <select class="mb-1 select-valid-score-init" id="combi_soc" name="com2">
                        <option value="soc_0">경제</option>
                        <option value="soc_1">동아시아사</option>
                        <option value="soc_2">정치와법</option>
                        <option value="soc_3">사회문화</option>
                        <option value="soc_4">생활과윤리</option>
                        <option value="soc_5">세계사</option>
                        <option value="soc_6">세계지리</option>
                        <option value="soc_7">윤리와사상</option>
                        <option value="soc_8">한국지리</option>
                    </select>
                    <label for="combi_soc_score"></label>
                    <input class="form-control mb-3 select-valid-score" id="combi_soc_score" type="number" min="0"
                           name="combi2_score" data-sb-validations="required" placeholder="표준점수">
                    <input class="form-control mb-3 select-valid-score" id="combi_grade_2" type="number" min="1"
                           name="combi2_grade" max="9" placeholder="등급">
                    <p id="combi_soc_output"></p>
                    <div class="invalid-feedback" data-sb-feedback="number">필수 입력</div>
                </div>

                <select class="mb-1 select-valid-score-init" id="language_2">
                    <option value="">제2 외국어 선택</option>
                    <option value="lan2_0">독일어</option>
                    <option value="lan2_1">프랑스어</option>
                    <option value="lan2_2">스페인어</option>
                    <option value="lan2_3">중국어</option>
                    <option value="lan2_4">일본어</option>
                    <option value="lan2_5">러시아어</option>
                    <option value="lan2_6">아랍어</option>
                    <option value="lan2_7">베트남어</option>
                    <option value="lan2_8">한문</option>
                </select>
                <label for="language_22"></label>
                <input class="form-control select-valid-score" id="language_22" type="number" min="0" placeholder="등급">



                <button type="submit" id="btnSubmit">제출</button>
            </div>
        </div>


    </form>



</footer>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/js/mainForm/main.js"></script>

</body>
</html>
