<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>마이페이지</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/images/img/favicon.png" rel="icon">
    <link href="/images/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/mainForm/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: FlexStart
    * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
    * Updated: Mar 17 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            let f = document.getElementById("f");

            let pf = document.getElementById("chgPw")

            $("#btnSend").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                doSubmit(f);
            })
            $("#btnChgPw").on("click", function () {
                doSubmitPw(pf);
            });
            $("#btnDel").on("click", function () {
                doSubmitDel();
            })
        });

        function doSubmitDel() {

            $.ajax({
                url: "/user/deleteUserInfo",
                type: "post",
                dataType: "JSON",
                success: function (json) {
                    alert(json.msg);
                    location.href = "/user/login";
                }
            })

        }


        function doSubmit(f) {

            if (f.nickName.value === "") {
                alert("닉네임을 입력해주세요.");
                f.nickName.focus();
                return;
            }
            if (f.email.value === "") {
                alert("이메일을 입력해주세요.");
                f.email.focus();
                return;
            }

            $.ajax({
                url: "/user/updateUserInfo",
                type: "post",
                dataType: "JSON",
                data: $("#f").serialize(),
                success: function (json) {

                    alert(json.msg);

                    if (json.result === 1) {
                        location.reload()
                    }
                }
            })
        }
        function doSubmitPw(pf) {
            if (pf.password.value === "") {
                alert("현재 비밀번호를 입력하세요.");
                pf.password.focus();
                return;
            }
            if (pf.newPassword.value === "") {
                alert("새 비밀번호를 입력하세요.");
                pf.newPassword.focus();
                return;
            }
            if (pf.newPassword2.value === "") {
                alert("새 비밀번호 확인을 입력하세요.");
                pf.newPassword2.focus();
                return;
            }
            if (pf.newPassword2.value !== pf.newPassword.value) {
                alert("새 비밀번호 확인이 일치하지 않습니다.");
                pf.newPassword2.focus();
                return;
            }
            console.log(pf.password.value);

            const requestData = {
                email: document.getElementById("email").value,
                userName: document.getElementById("userName").value,
                password: document.getElementById("password").value,
                newPassword: document.getElementById("newPassword").value
            }
            console.log(requestData);

            $.ajax({
                url: "/user/updatePassword",
                type: "post",
                dataType: "JSON",
                data: requestData,
                success: function (json) {
                    console.log(json);
                    alert(json.msg);

                    if (json.result === 1) {
                        window.location.reload();
                    }
                }
            })

        }
    </script>


    <style>
        body {
            padding-top: 70px; /* 헤더 높이 만큼 상단 패딩 추가 */
        }

    </style>
</head>

<body>


<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="../board/index.html" class="logo d-flex align-items-center">
            <img src="/images/img/logo.png" alt="">
            <span>GradeAdvisor</span>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="#hero">홈</a></li>
                <li><a class="active" href="#team">마이 페이지</a></li>
                <li><a class="nav-link scrollto" href="/board/mainBoard">게시판</a></li>
                <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Drop Down 2</a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                    </ul>
                </li>
                <li class="dropdown megamenu"><a href="#"><span>Mega Menu</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li>
                            <a href="#">Column 1 link 1</a>
                            <a href="#">Column 1 link 2</a>
                            <a href="#">Column 1 link 3</a>
                        </li>
                        <li>
                            <a href="#">Column 2 link 1</a>
                            <a href="#">Column 2 link 2</a>
                            <a href="#">Column 3 link 3</a>
                        </li>
                        <li>
                            <a href="#">Column 3 link 1</a>
                            <a href="#">Column 3 link 2</a>
                            <a href="#">Column 3 link 3</a>
                        </li>
                        <li>
                            <a href="#">Column 4 link 1</a>
                            <a href="#">Column 4 link 2</a>
                            <a href="#">Column 4 link 3</a>
                        </li>
                    </ul>
                </li>

                <li><a class="getstarted scrollto" href="/user/login">로그인</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

    <div class="container mt-5">
        <h1 class="text-center mb-4">회원 정보 수정</h1>
        <div class="card mb-4">
            <div class="card-header">회원 정보 수정</div>
            <form id="f" name="f">
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">아이디:</label>
                    <p id="userId" class="form-control-plaintext" th:text="${rDTO.userId()}"></p>
                </div>
                <div class="mb-3">
                    <label class="form-label">이름:</label>
                    <p id="userName" class="form-control-plaintext" th:text="${rDTO.userName()}"></p>
                </div>
                <div class="mb-3">
                    <label class="form-label">이메일(수정가능):</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label class="form-label">닉네임(수정가능):</label>
                    <input type="text" class="form-control" id="nickName" name="nickName">
                </div>

                <button type="button" id="btnSend" class="btn btn-primary">수정</button>

            </div>
            </form>
        </div>

        <form name="chgPw" id="chgPw">
            <div class="card mb-4">
                <div class="card-header">비밀번호 변경</div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label">현재 비밀번호</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="현재 비밀번호를 입력하세요">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">새 비밀번호</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="새 비밀번호를 입력하세요">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">새 비밀번호 확인</label>
                        <input type="password" class="form-control" id="newPassword2" name="newPassword2" placeholder="새 비밀번호를 다시 입력하세요">
                    </div>
                    <button type="button" id="btnChgPw" class="btn btn-primary">비밀번호 변경</button>
                </div>
            </div>
        </form>

        <div class="card">
            <div class="card-header">회원 탈퇴</div>
            <div class="card-body">
                <p>회원 탈퇴를 원하시면 아래 버튼을 클릭하세요. 이 작업은 되돌릴 수 없습니다.</p>
                <button class="btn btn-danger" id="btnDel">회원 탈퇴</button>
            </div>
        </div>
    </div>

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <h4>Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                </div>
                <div class="col-lg-6">
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="../board/index.html" class="logo d-flex align-items-center">
                        <img src="/images/img/logo.png" alt="">
                        <span>FlexStart</span>
                    </a>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita
                        valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>


                </div>
                <div class="col-lg-2 col-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contact Us</h4>
                    <p>
                        A108 Adam Street <br>
                        New York, NY 535022<br>
                        United States <br><br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>FlexStart</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/js/mainForm/main.js"></script>

</body>

</html>