<!DOCTYPE html>
<html lang="en">
<head>
    <title>비밀번호 재설정</title>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--===============================================================================================-->
    <script src="/js/jquery-3.6.0.min.js"></script>




    <script type="text/javascript">

        let emailAuthNumber = "";

        let getmsg = "";

        $("#btnLogin").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
            location.href = "/user/login";
        })

        $(document).ready(function () {
            let f= document.getElementById("f");

            $("#btnLogin").on("click", function () {
                getLogin(f)
            })

            $("#btnNewPassword").on("click", function () {
                newPassword(f)

            })

        })



        function newPassword(f) {

            if(f.password.value ===0 || f.password2.value === 0) {
                alert("비밀번호를 입력하세요.")
                f.password.focus()
                return;
            }

            if (f.password.value != f.password2.value) {
                alert("비밀번호가 일치하지 않습니다.")
                f.password2.focus()
                return;
            }


            f.method = "post";
            f.action = "/user/newPasswordProc"
            f.submit();






        }


    </script>

    <script type="text/javascript">

    </script>





</head>
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" id="f">
					<span class="login100-form-title p-b-26">
						GradeAdvisor
					</span>



                <div class="wrap-input100 validate-input" data-validate="비밀번호를 입력하세요.">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                    <input class="input100" type="password" name="password" id="password" placeholder="새 비밀번호" >

                </div>

                <div class="wrap-input100 validate-input" data-validate="비밀번호를 입력하세요.">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                    <input class="input100" type="password" name="password2" id="password2" placeholder="비밀번호 확인" >

                </div>

                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" id="btnNewPassword" type="button">
                        비밀번호 재설정
                    </button>
                </div>



            </form>
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<!--===============================================================================================-->
<script src="/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/js/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/js/moment.min.js"></script>
<script src="/js/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/js/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/js/main.js"></script>


</body>
</html>