<!DOCTYPE html>
<html lang="en">
<head>
    <title>비밀번호 찾기</title>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--===============================================================================================-->
    <script src="/js/jquery-3.6.0.min.js"></script>




    <script type="text/javascript">

        let emailAuthNumber = "";

        let getmsg = "";

        $("#btnLogin").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
            location.href = "/user/login";
        })

        $(document).ready(function () {
            let f= document.getElementById("f");

            $("#btnEmail").on("click", function () {
                emailExists(f)
            })

            $("#btnNewPassword").on("click", function () {
                newPassword(f)

            })

        })

        function emailExists(f) {
            if(f.email.value === "") {
                alert("이메일을 입력하세요.")
                f.email.focus();
                return;
            }

            $.ajax({
                url:"/user/emailCheck",
                type: "post",
                datatype: "JSON",
                data: $("#f").serialize(),
                success: function (json) {
                    if(json.existsYn ==="N") {
                        alert("이메일이 존재하지 않습니다.");
                        f.email.focus();
                    } else {
                        alert("이메일로 인증번호가 발송되었습니다. \n받은 메일의 인증번호를 입력하시기 바랍니다.")
                        emailAuthNumber = json.authNumber;
                    }

                }
            })

        }


        function newPassword(f) {

            if (f.userId.value === "") {
                alert("아이디를 입력하세요.")
                f.userId.focus()
                return;
            }
            if (f.email.value === "") {
                alert("이메일을 입력하세요.")
                f.userId.focus()
                return;
            }
            if (f.authNumber.value === "") {
                alert("인증번호를 입력하세요.")
                f.userId.focus()
                return;
            }

            if (emailAuthNumber != f.authNumber.value) {
                alert("인증번호가 일치하지 않습니다.")
                f.authNumber.focus()
                return;
            }


            f.method = "post";
            f.action = "/user/searchPasswordProc"
            f.submit();








        }


    </script>

    <script type="text/javascript">

    </script>





</head>
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" id="f">
					<span class="login100-form-title p-b-26">
						GradeAdvisor
					</span>


                <div class="wrap-input100 validate-input"  data-validate = "아이디를 입력하세요.">
                    <input class="input100" type="text" name="userId" id="userId" placeholder="아이디">
                </div>


                <div class="wrap-input100 validate-input"  data-validate = "이메일을 입력하세요.">
                    <input class="input100" type="text" name="email" id="email" placeholder="이메일">

                </div>

                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" id="btnEmail" type="button">
                        인증번호 발송
                    </button>
                </div>


                <div class="wrap-input100 validate-input"  data-validate = "인증번호를 입력하세요.">
                    <input class="input100" type="text" name="authNumber" id="authNumber" placeholder="인증번호">
                </div>

                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" id="btnNewPassword" type="button">
                        비밀번호 재설정
                    </button>
                </div>



                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" id="btnLogin" type="button">
                            로그인
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<!--===============================================================================================-->
<script src="/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/js/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/js/moment.min.js"></script>
<script src="/js/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/js/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/js/main.js"></script>


</body>
</html>